<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<form method="post" action="/">
		 用户名: <input type="text" name="username"/>  <br>
		        密码: <input type="password" name="pwd"/>
		        <input type="submit" value="Submit"/>
	</form>
	<img src="../uploads/wx2bd23db1d3a0a9e8.o6zAJs2Wjwfds8R52dUk96rwik_o.2cKLkCqBFH5l7fc69c7524a3efff42c314a14efc483a.jpg">
	<img src="/images/wx2bd23db1d3a0a9e8.o6zAJs2Wjwfds8R52dUk96rwik_o.2cKLkCqBFH5l7fc69c7524a3efff42c314a14efc483a.jpg">
	
  </body>
</html>
